In [23]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
import pickle

In [2]:
data_1 = pd.read_csv('Youtube01-Psy.csv')

In [3]:
data_1.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [4]:
data_1.shape

(350, 5)

In [5]:
data_2 = pd.read_csv('Youtube02-KatyPerry.csv')
data_3 = pd.read_csv('Youtube03-LMFAO.csv')
data_4 = pd.read_csv('Youtube04-Eminem.csv')
data_5 = pd.read_csv('Youtube05-Shakira.csv')

In [6]:
data_frame = [data_1,data_2,data_3,data_4,data_5]

In [7]:
data = pd.concat(data_frame)

In [8]:
data.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [9]:
data.shape

(1956, 5)

In [10]:
data.dtypes

COMMENT_ID    object
AUTHOR        object
DATE          object
CONTENT       object
CLASS          int64
dtype: object

In [40]:
data.isnull().sum()

COMMENT_ID      0
AUTHOR          0
DATE          245
CONTENT         0
CLASS           0
dtype: int64

In [41]:
data.to_csv('Combined_data.csv')

In [12]:
#Let's Focus on Content and Class only
data_x = data["CONTENT"]
data_y = data["CLASS"]
corpus = data_x

In [13]:
data_x.shape

(1956,)

In [14]:
data_y.shape

(1956,)

In [15]:
#Feature Extraction From Text
###CountVectorizer
###TfidfVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)
#vectorizer_1 = CountVectorizer(analyzer='word', ngram_range=(1, 3))
#X_1 = vectorizer_1.fit_transform(corpus)

In [16]:
#vectorizer.get_feature_names()

In [17]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [18]:
#X_1.toarray()

In [19]:
#vectorizer_1.get_feature_names()

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, data_y, test_size=0.20, random_state=33)
#X_train, X_test, y_train, y_test = train_test_split(X_1, data_y, test_size=0.20, random_state=33)

# Multinomial Naive Bayes

In [21]:
naive_base_model = MultinomialNB()
naive_base_model.fit(X_train,y_train)
pred = naive_base_model.predict(X_test)
metrics.accuracy_score(y_test,pred)

0.9209183673469388

In [37]:
comment = ["Tsfasfhis sonasfg isdafasfs awasfesome"]
vect = vectorizer.transform(comment).toarray()
if naive_base_model.predict(vect) == 1:
    print("Spam")
else:
    print("Ham")

Spam

In [29]:
model = open("Naive_Base_Model.pkl","wb")
pickle.dump(naive_base_model,model)
model.close()

In [39]:
model_ = open("Naive_Base_Model.pkl","rb")
new_model = pickle.load(model_)
comment = ["This song is awesome"]
vect = vectorizer.transform(comment).toarray()
if new_model.predict(vect) == 1:
    print("Spam")
else:
    print("Ham")

Ham